.brand
	font-family OpenSans
	color light-black
	display flex
	justify-content space-between
	// align-items center
	padding-top 39px
	padding-bottom 39px

	&__info
		max-width 540px
		margin-top 205px

	&__title
		font-weight 700
		font-size 50px
		color light-black

	&__name
		font-weight 400
		font-size 25px
		margin-top 14px

		&--span
			color #958bf9

	&__description
		color #909090
		font-size 17px
		font-weight 400
		margin-top 24px
		line-height 26px
		
	&__img
		max-width 498px
		height 815px
		width 100%
		background-repeat no-repeat
		background-size contain