.footer-block
	padding-top 64px
	padding-bottom 47px
	&__title
		font-family Roboto
		font-size 40px
		font-weight 700
		color #222222
		text-align center
	&__links
		display flex
		justify-content center
		margin-top 39px
	&__link-item
		display inline-block
		font-family OpenSans
		font-weight 600
		font-size 18px
		color #404040
		margin 0px 23px

	&__social
		display flex
		justify-content center
		margin-top 49px
	&__social-item
		display inline-block
		border 1px solid #ecebed
		margin 0px 15px
		border-radius 50%
		font-size 23px
		color #555555
		&:hover
			background-image linear-gradient(to top right, #8c84f9, #a165f4)
			color #fff
.facebook
	padding 15px 20px 15px 20px
.google
	padding 15px 12px 15px 12px
.instagram
	padding 15px 17px 15px 17px
.twitter
	padding 15px 16px 15px 16px

.footer-copy
	background-color #f6f5f7
	padding-top 26px
	padding-bottom 26px
	&__text
		text-align center
		font-family Montserrat
		font-weight 300
		font-size 15px
		color #777777