.header
	background-image url(../img/banner.png)
	background-repeat no-repeat
	background-size cover
	padding-top 80px

.layout
	padding 0px 20px
	max-width 1215px
	margin 0 auto

.top-menu
	display flex
	justify-content space-between

.logo
	&__link
		display inline-block

.search
	display flex
	&__btn
		background-image url(../img/search.png)
		background-color #fff
		background-repeat no-repeat
		width 25px
		height 26px
	&__input
		font-family OpenSans
		font-weight 700
		font-size 18px
		max-width 95px
		padding 10px 10px
		&::-webkit-input-placeholder
			color black-color
		&::-moz-placeholder
			color black-color
		&::-ms-input-placeholder
			color black-color

.sub-menu
	display none
	&__item
		list-style none
	&__limk
		display inline-block