.header
	background-image url(../img/banner.png)
	background-repeat no-repeat
	background-size cover
	padding-top 80px

.layout
	padding 0px 20px
	max-width 1215px
	margin 0 auto

.top-menu
	display flex
	justify-content space-between

.logo
	&__link
		display inline-block

.search
	&__btn
		color black-color
		font-size 18px
		font-family OpenSans
		font-weight 700
		&::before
			content ''
			background-image url(../img/search.png)
			background-repeat no-repeat
			width 25px
			height 26px